body {
  background-color: #ffffff;
}

.accent {
  color: #0093ab;
}

.btn-accent {
  background-color: #0093ab;
  color: #fff;
}

.btn-accent:hover {
  background-color: #007b8f;
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: white;
}

@media (max-width: 576px) {
  .form-container {
    padding: 20px;
    margin: 40px 15px;
  }
}
